body{
    background-color:transparent;
 
}
 
.pageWrap{
    
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    }
 
.grid{
    margin: auto;
    display: grid;
    max-width: 1080px;
    grid-auto-rows: auto auto;
    grid-auto-columns: 50% 50%;
    gap: 0px;
    grid-template-areas:
        "nleft tright"
        "nleft tright"
        "nleft bright"
        "nleft bright"
        "bbar bbar";
 
}
.nleft{
 grid-area: nleft;
 background: #C7DDEA;
 display: flex;
 justify-content: flex-end;
 flex-direction: column;
 align-items: center;
 
 
 
 
}
 
.tright{
   grid-area: tright; 
   background: #FAB131;;
   display:flex;
   justify-content:flex-start; 
   flex-direction: column;
}
 
.bright{
    grid-area: bright;
    background: #F17949;
    display:flex;
    justify-content:flex-start; 
    flex-direction: column;
    
}
 
.bbar{
    grid-area: bbar;
    
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
 
.covered{
margin-left: 38px;
margin-top: 17.5%;
width: 314px;
height: 101px;
left: 324px;
top: 71px;
font-family: Frank Ruhl Libre;
font-style: normal;
font-weight: 900;
font-size: 45px;
line-height: 100%;
letter-spacing: -0.02em;
color: #000000;
}
 
.paymentInfo{
    
    width: 268px;
    height: 103px;
    left: 324px;
    top: 172px;
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
}
 
.paymentInfo span{
    color: white;
}
 
.joinNow {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    width: 101px;
    height: 30px;
    box-shadow: 0px 1px 4px -2px #000000;
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color:#ffffff;
    border-radius:12px;
    cursor:pointer;
    color:#666666;
    font-family: "Fira sans";
    font-size:12px;
    font-weight:bold;
    padding:4px 8px;
    text-decoration:none;
    text-shadow:0px 0px 5px #ffffff;
}
.joinNow:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color:#f6f6f6;
    align-self: center;
    
}
.joinNow:active {
   
    position:relative;
    top:1px;
}
 
.family{
    height: 42%;
    width: 60%;
    align-self: flex-end;
    
    
}
 
.offer{
    
    margin-top: 30%;
    display:flex;
    justify-content:flex-start; 
    flex-direction: column;
 
    font-family: "Fira Sans";
    font-style: oblique;
    font-weight: bolder;
    font-size: 12px;
    line-height: 13px;
 
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.5);
}
 
.learnMore{
  
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    text-decoration: none;
    }
 
.whatWaiting{
    
    
    margin-top: 30%;
    display:flex;
    justify-content:flex-start; 
    flex-direction: column;
    font-family: "Fira Sans";
    font-style: oblique;
    font-weight: bolder;
    font-size: 12px;
    line-height: 13px;
    
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.5);
    }
 
 
 
.joinToday{
    
  
 
        font-family: Frank Ruhl Libre;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 41px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        text-decoration: none;
        }
 
        .home{
            border: none;
            outline: none;
            background-color: transparent;
            text-decoration: none;
            font-family: Fira Sans;
            
color: #000000;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 100%;
 
        }
 
        .ourOffer{
            border: none;
            outline: none;
            background-color: transparent;
            text-decoration: none;
            opacity: 0.4;
            
color: #000000;
 font-family: Fira Sans;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 100%;
 
}
 
        .whyUs{
            border: none;
            outline: none;
            background-color: transparent;
            text-decoration: none;
            font-family: Fira Sans;
            opacity: 0.4;
            
color: #000000;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 100%;
        
 
        }
 
        .contact{
            border: none;
            outline: none;
            background-color: transparent;
            text-decoration: none;
            font-family: Fira Sans;
            opacity: 0.4;
            
color: #000000;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 100%;
        
 
        }
 
 
 
        .flexbackground {
            display: flex;
            flex-direction: column;
            align-items: center;
            
        
        }
        .background1 {
        
            width: 1080px;
            height: 612px;
            left: 219px;
            top: 612px;
            background-color: #A9A19E;
            
           
        }
        
        .background2 {
            width: 1080px;
            height: 680px;
            left: 219px;
            top: 1224px;
            background-color: #FAB131;
            z-index: -1;
           
            
        }
        
        .containergrid1 {
            display: grid;
            grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr;
            
        }
        
        
        .yourfiancial {
           
            width: 314px;
            height: 140px;
            left: 326px;
            top: 715px;
            font-family: 'Frank Ruhl Libre', serif;
            font-size: normal;
            font-weight: 900;
            font-size: 45px;
            line-height: 100%;
            letter-spacing: -0,02em;
            color: white;
            justify-content: center;
            grid-area: 2 / 2 / 4 / 4;
        }
        button {
            width: 131px;
            height: 39px;
            left: 326px;
            top: 913px;
            background: white;
            box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
            border-radius: 100px;
            
            width: 101px;
            height: 30px;
            left: 342px;
            top: 917px;
            font-family: fira sans;
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 12px;
            align-items: center;
            text-align: center;
            border: solid white;
            grid-area: 4 / 2 / 3 / 2;
            
           
        }
        
        
        
        .textbox1 {
               
               width: 280px;
            height: 237px;
            left: 812px;
            top: 715px;
            font-family: 'Fira Sans', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 171%;
            color: rgba(0, 0, 0, 0.6);
            grid-area: 2 / 5 / 3 / 5;
        }

        
        
        .Childrenbox{
            width: 236px;
            height: 150px;
            left: 319px;
            top: 1039px;
            background: #C7DDEA;
            border-radius: 4px;
            margin-top: 427px;
            margin-left: 101px;
            z-index: 1;
            
           
        }

        .childrenwhitebox {
            width: 256px;
            height: 308px;
            top: 1065px;
            left: 309px;
            background: white;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            margin-top: 453px;
            margin-left: -9px;
        }

        .childimg {
            width: auto;
            height: 138px;
           z-index: 2;
           grid-area: 3 / 2;
           align-self: flex-end;
           justify-self: center;
           margin-top: 100.4px;
        }

        .childrentext {
            font-family: 'Frank Ruhl Libre', serif;
            font-style: normal;
            font-size: 16px;
            line-height: 20px;
            grid-area: 4 / 2;
            align-self: flex-start;
            margin-left: 23px;
            margin-top: 10px;
        }

        .childlorem {
            font-family: 'Fira Sans', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 11px;
            line-height: 18px;
            text-align: center;
            grid-area: 4 / 2;
            margin-top: 35px;
            margin-left: 32px;
            color: rgba(0, 0, 0, 0.4)
        
        }

    

       

        .Adultbox {
            width: 236px;
            height: 150px;
            left: 602px;
            top: 1039px;
            background: #FAB131;
            border-radius: 4px;
            margin-top: 427px;
            margin-left: 81px;
            z-index: 1;
           
        }

        .adultwhitebox {
            width: 256px;
            height: 308px;
            top: 1065px;
            left: 309px;
            background: white;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            margin-top: 453px;
            margin-left: -245px;
        }
        .adultimg {
            width: auto;
            height: 136px;
            z-index: 2;
            grid-area: 3 / 3;
            align-self: flex-end;
            justify-self: center;
            margin-left: 90px;
        }

        .adulttext {

            font-family: 'Frank Ruhl Libre', serif;
            font-style: normal;
            font-size: 16px;
            line-height: 20px;
            grid-area: 4 / 3;
            align-self: flex-start;
            margin-left: 126px;
            margin-top: 10px;
        }

        .adultlorem {
            font-family: 'Fira Sans', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 11px;
            line-height: 18px;
            text-align: center;
            align-self: center;
            grid-area: 4 / 3;
            margin-top: -44px;
            margin-left: 123px;
            color: rgba(0, 0, 0, 0.4)
        }

        .Oldfartbox {
            width: 236px;
            height: 150px;
            left: 885px;
            top: 1039px;
            background: #F17949;
            border-radius: 4px;
            margin-top: 427px;
            margin-left: 23px;
            z-index: 1;
            
        }

        .oldfartwhitebox {
            width: 256px;
            height: 308px;
            top: 1065px;
            left: 309px;
            background: white;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            margin-top: 453px;
            margin-left: -267px;
        }

        .oldfartimg {
            width: auto;
            height: 150px;
            grid-area: 3 / 5;
            z-index: 2;
            align-self: flex-end;
            justify-self: center;
        }

        .oldfarttext {
            font-family: 'Frank Ruhl Libre', serif;
            font-style: normal;
            font-size: 16px;
            line-height: 20px;
            grid-area: 4 / 5;
            align-self: flex-start;
            margin-left: 46px;
            margin-top: 10px;
        }

        .oldfartlorem {
            font-family: 'Fira Sans', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 11px;
            line-height: 18px;
            text-align: center;
            align-self: center;
            grid-area: 4 / 5;
            margin-block-end: 41px;
            color: rgba(0, 0, 0, 0.4)
        }
        
        .containergrid2 {
            display: grid;
            grid-template-columns: 20% 20% 20% 20% 20%;
            grid-template-rows: 20% 20% 20% 20% 20%;
        }
        
        
            
            .aboutus {
                justify-content: center;
                justify-items: center;
                display: flex;
                width: 240px;
                height: 101px;
                left: 564px;
                top: 1411px;
                font-family: 'Frank Ruhl Libre', serif;
                font-style: normal;
                font-weight: 900;
                font-size: 45px;
                line-height: 100%;
                letter-spacing: -0.02em;
                color: white;
                align-items: center;
                text-align: center;
                grid-area: 3 / 3 / 3 / 3;
            
        }
        
        .textbox2 {
            display: flex;
            justify-content: center;
            align-items: center;
            justify-self: center;
            width: 442px;
            height: 280px;
            left: 500px;
            top: 1523px;
            font-family: 'Fira Sans', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: rgba(0, 0, 0, 0.6);
            grid-area: 4 / 2 / 5 / 5;
            text-align: center;
        }
            
        body{
            background: #E5E5E5;
         
        }
         
        footer{
         
            width: 1080px;
            margin: auto;
        }
         
        section{
         
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 400px);
        }
         
        .box{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .first{
            grid-row: 1;
            grid-column: 1;
            background: #C7DDEA;
        }
         
         
        .second{
            grid-row: 1;
            grid-column: 2;
            background: #FFFFFF;
        }
         
        .third{
            grid-row: 1;
            grid-column: 3;
            background: #EBEBEB;
        }
         
        .fourth{
         
            grid-row: 2;
            grid-column: 1;
            background: #FFFFFF;
        }
         
        .fifth{
            grid-row: 2;
            grid-column: 2;
            background: #F17949;
        }
         
        .sixth{
            grid-row: 2;
            grid-column: 3;
            background: #FFFFFF;
        }
         
        h3{
         
            font-family: Frank Ruhl Libre;
            font-size: 45px;
            text-align: center;
            margin-left: 45px;
            margin-right: 45px;
            
        }
         
        p{
         
            font-size: 20px;
            font-family: 'Fira Sans';
            text-align: center;
            margin: 0px 45px 0px;
        }
         
        .number{
         
            position: absolute;
            left: 0;
            font-family: Frank Ruhl Libre;
            align-self: flex-start;
            padding: 40px;
            font-size: 35px;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.4);
        }
         
        .up{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 90px;
            background: #A9A19E;
            
        }
         
        .grey{
            
            height: 400px;
            background: #777574;
        }
         
        .material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;  /* Preferred icon size */
            display: inline-block;
            line-height: 1;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            white-space: nowrap;
            direction: ltr;
          
            
            -webkit-font-smoothing: antialiased;
            
            text-rendering: optimizeLegibility;
          
            
            -moz-osx-font-smoothing: grayscale;
          
            
            font-feature-settings: 'liga';
             }



             /* Media Queries */
@media (max-width: 700px) {
    .grid {
      grid-template-areas:
        "nleft"
        "tright"
        "bright";
        min-width: 700px;
        
        
        
    }

    .nleft{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .tright{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;
        

    }

    .bright{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;
    }

    .bbar{
        display: none;
    }


.covered{
    margin: 1px;
    width: 343px;
    height: 101px;
    
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    
    /* or 45px */
    letter-spacing: -0.02em;
    
    color: #000000;
}

.family {
    height: 42%;
    width: 80%;
    align-self: center;
}

.paymentInfo{
    width: fit-content;
}

.offer{
    margin: 0px;
}

.whatWaiting{
    margin: 0px;
}

}